* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(0, 0, 0, 0.9);
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #ff4d4d;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-reserve {
    background: #5a1a1a;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn-reserve:hover {
    background: #7a2323;
}

.login {
    color: rgb(164, 79, 79);
    text-decoration: none;
}